extends layout

block content
    h1= title
    p Hello #{name}, #{date}
    form(name="name", method="post")
        div.input
            span.label Name:
            input(type="text", name="name")
            input(type="submit", value="Enter")
                    <div style="width:60%, height:60%">
            <button>#{grid[0]}</button>
            <button>#{grid[1]}</button>
            <button>#{grid[2]}</button>
            <br>
            <button>#{grid[3]}</button>
            <button>#{grid[4]}</button>
            <button>#{grid[5]}</button>
            <br>
            <button>#{grid[6]}</button>
            <button>#{grid[7]}</button>
            <button>#{grid[8]}</button>
            <br>
            </div>

            p winner: #{winner}